body{ 
background-color: coral;}



.contain{
    display: flex;

   justify-content: center;
   /* border:1.5px solid black; */
   }
   .btn{
    color: white;
    border: 3px solid black;
    position: absolute;
    top:165px;
   }
.btn:active {
    transform: scale(0.7);}
    body h1{
        color:white;
        font-family: 'Shadows Into Light', cursive;
        text-align: center;
        border:1.5px solid black;
    }
    
